<template>
<div>
  <md-toolbar class="md-accent" md-elevation="1">
    <h3 class="md-title" style="flex: 1">Riko Quizes</h3>
    <md-button><b>{{numCorrect}}/{{numTotal}}</b></md-button>
    <md-button class="md-primary">Refresh</md-button>
  </md-toolbar>


</div>
</template>

<script>
export default {
  props:[
      'numCorrect',
      'numTotal'
  ]
}
</script>