<template>
<div>
  <!--  md-card starts here-->
  <md-card>
    <md-card-header>
      <div class="md-title">{{currentQuestion.question}}</div>
      <div class="md-subhead">{{currentQuestion.difficulty}}</div>
    </md-card-header>


    <md-card-content>
      <md-list>
        <md-subheader>Select one</md-subheader>
        <md-list-item v-for="(answer, index) in answers" :key="index"
        @click.prevent="selectAnswer(index)"
        :class="[selectedIndex === index ? 'selected' : '']">
          <md-checkbox v-model="selectedIndex" :value="answer"/>
          <span class="md-list-item-text">{{answer}}</span>
        </md-list-item>
      </md-list>
    </md-card-content>

    <md-card-actions>
      <md-button @click="next">Next</md-button>

      <md-button @click="submitAnswer"
      :disabled="selectedIndex === null || answered"
      >Submit</md-button>

    </md-card-actions>
  </md-card>
  <!--  md-card ends here-->
</div>
</template>

<script>
import _ from 'lodash'

export default {
  props:{
    currentQuestion: Object,
    next: Function,
    increment: Function
  },
  data(){
    return {
      selectedIndex: null,
      correctIndex: null,
      shuffledAnswers: [],
      answered: false
    }
  },
  watch:{
    currentQuestion:{
      immediate: true,
      handler:() => {
        this.selectedIndex = null
        this.shuffleAnswers()
        this.answered = false
      }
    }
  },
  methods:{
    selectAnswer(index){
      this.selectedIndex = index
      console.log(index)
    },
    shuffleAnswers(){
      let answers = [...this.currentQuestion.incorrect_answers, this.currentQuestion.correct_answer]
      this.shuffleAnswers = _.shuffle(answers)
      this.correctIndex = this.shuffledAnswers.indexOf(this.currentQuestion.correct_answer)

    },
    submitAnswer(){
      let isCorrect = false

      if (this.selectedIndex === this.correctIndex){
        isCorrect = true
      }
      this.answered = true
      this.increment(isCorrect)
    },
  },
  computed:{
    answers(){
      let answers = [...this.currentQuestion.incorrect_answers]
      answers.push(this.currentQuestion.correct_answer)
      return answers
    }
  },
  mounted(){
  console.log(this.currentQuestion)
}
}

</script>

<style>
.selected{
background-color: lightblue;
}

.correct{
  background-color: lightgreen;
}
</style>