<template>
  <div id="app">
    <Header
      :numCorrect="numCorrect"
      :numTotal="numTotal"
    />
    <QuestionBox
    v-if="questions.length"
    :currentQuestion="questions[index]"
    :next="next"
    :increment="increment"/>
  </div>
</template>

<script>
import Header from './components/Header'
import QuestionBox from './components/QuestionBox'

export default {
  "name": 'app',
  "components":{
    QuestionBox,
    Header
  },
  data(){
    return{
      questions: [],
      index: 0,
      numCorrect: 0,
      numTotal: 0
    }
  },
  methods:{
    next: function () {
      this.index++
    },
    increment: function (isCorrect) {
      if (isCorrect) {
        this.numCorrect++
      }
      this.numTotal++
    },
  },
  mounted: function () {
    fetch('https://opentdb.com/api.php?amount=10&category=18&type=multiple', {
      method: 'get'
    }).then((response) =>{
      return response.json()
        }).catch((error) =>{
      console.log(error)
    }).then((jsonData)=>{
      this.questions = jsonData.results
    })
  }
}

</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>